.main_title {
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
}

.intro_text{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.hidden-div {
    display: none;
}

.labelRealty{
    font-size: 45px;
}

.chekbox_realty {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.labelImg{
    width: 90px;
    height: 90px;
}

@media only screen and (max-width: 1200px) {
    .labelImg {
        width: 80px;
        height: 80px;
    }

    .labelRealty {
        font-size: 30px;
    }
}

@media only screen and (max-width: 450px) {

    .main_title {
        font-size: 45px;
    }

    .labelImg {
        width: 70px;
        height: 70px;
    }
}