.main_title {
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
}

.intro_text{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.hidden-div {
    display: none;
}

.labelRealty{
    font-size: 45px;
}

.chekbox_realty {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}