body {
    min-height: 100%;
    position: relative;
    background-color: #FFFEF1;
}

.menu {
    background-color: #FFD61D;
}

.link {
    font-size: 18px;
    --bs-nav-link-hover-color: white;
}

.title {
    font-size: 38px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 900;
}

.dropdown_link {
    background-color: #FFD61D;
    --bs-dropdown-link-hover-bg: #FFD61D;
    --bs-dropdown-link-active-bg: #FFD61D;
}

.dropdown_lang{
    width: 150px;
    height: 35px;
    border: white;
    border-radius: 20px;
    padding:0px 10px;
}

.logout_btn{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px auto;
}

@media only screen and (max-width: 990px) {
    .logout_btn {
        margin-bottom: 5px;
        margin-left: -15px;
        width: 150px;
    }
}